.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.margin1 {
  margin: 1rem;
}

.places {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.place {
  border: solid black 1px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
}

.place-thumbnail {
  object-fit: cover;
  width: 15rem;
  height: 13rem;
}

.text {
  cursor: pointer;
}

.title {
  margin: 1rem;
}

.icons {
  color: rgb(196, 177, 4);
  display: flex;
  justify-content: space-evenly;
}

.icon__wrap {
    /* border: solid black 1px; */
  position: relative;
  height: 2rem;
  width: 6.5rem;
}

.icon__description {
  position: relative;
  top: -4.5rem;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  color: black;
  visibility: hidden;
  opacity: 0;
  /* padding: 0.2rem; */

  /* transition effect. not necessary */
  transition: opacity 0.2s, visibility 0.2s;
}

.icon__wrap:hover .icon__description {
  visibility: visible;
  opacity: 1;
}

.place__photos {
  display: flex;
  margin: 1rem auto;
}

.place__img {
  object-fit: cover;
  width: 14rem;
  height: 14rem;
  margin: 0 1rem 1rem 1rem;
}

.photo1 {
  object-fit: cover;
  width: 30rem;
  height: 30rem;
}

.place__header {
  border: solid black 1px;
  width: 46rem;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
}

.place__header-right {
  /* border: solid black 1px; */
  text-align: right;
  font-size: large;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.visit-icon {
  margin: 0 0.5rem 0 0;
}

.visit-stats {
  padding: 0.5rem 0 0 0;
}

.save-icon {
  margin: 0 0.5rem 0 0;
}

.save-stats {
  padding: 0.5rem 0 0 0;
}

.icon__buttons {
  margin-top: 1rem;
}

.place__title {
  margin: 1rem;
}

.place__location {
  margin: 0 0 1rem 1rem;
}

.place__photos-list {
  margin: 0 auto;
}

.place__text {
  border: solid rgb(0, 0, 0) 1px;
  width: 46rem;
  margin: 1rem auto;
}

.place__description {
  margin: 1rem;
}

.place__author {
  margin: 1rem;
}

.button {
  margin: 0.5rem 0 0 0;
}

.place__form {
  padding: 1rem;
}

.place-form__title {
  margin: 0 0 2rem 0.5rem;
}

.place-form__group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.place__photo {
  object-fit: cover;
  width: 15rem;
  height: 15rem;
}